.optionsContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  width: 10%;
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: capitalize;
}

.good {
  background-color: #00ff20;
}

.good:hover {
  background-color: #00e21e;
}

.neutral {
  background-color: #00ffee;
}

.neutral:hover {
  background-color: #01e1d2;
}

.bad {
  background-color: #ff0000;
}

.bad:hover {
  background-color: #ea0101;
}
